<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="PHP FastCgi" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\wamp\bin\php\php5.2.9-2\php-cgi.exe" resourceType="Unspecified" />
        </handlers>
        <validation validateIntegratedModeConfiguration="false" />
        <modules runAllManagedModulesForAllRequests="true" />
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <add value="index.php" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
