<script type="text/javascript">
	function set_cookie_lp(lp_str){
		document.cookie = "lp_name=" + escape(lp_str);
		window.location.reload();
	}
</script>
<div class="foot">
	<a href="about/about.html">{echo:lp{pu_about_us};/}</a>
	<a href="about/privacy.html">{echo:lp{pu_privacy};/}</a>
	<a href="http://tech.jooyea.com/bbs/">{echo:lp{pu_bbs};/}</a>
	<a href="mailto:{echo:$adminEmail;/}">{echo:lp{pu_email};/}</a>Powered by <strong>iWeb<b>SNS</b>1.0</strong> &copy; 2009-2010 Jooyea.net</div>
<div style="display: none;" class="emBg" id="face_list_menu"></div>
<div id="append_parent"></div>