<script type="text/javascript" language="javascript" src="skin/default/js/jy.js"></script>
<script language="javascript">
function addBookMark()
{
    var nome_sito = "{echo:$siteName;/}";
    var url_sito = "{echo:get_site_domain();/}";
    if ((navigator.appName == "Microsoft Internet Explorer") && (parseInt
        (navigator.appVersion) >= 4))
        window.external.AddFavorite(url_sito, nome_sito);
    else if (navigator.appName == "Netscape")
        window.sidebar.addPanel(nome_sito, url_sito, '');
    else
        parent.Dialog.alert("{echo:lp{pu_house_wrong};/}");
}

function setMyHomepage(url){   //  设置首页 
		 if(!!(window.attachEvent && !window.opera)){
				document.body.style.behavior = 'url(#default#homepage)';
				document.body.setHomePage(url);
		}else{
			if(window.clipboardData && clipboardData.setData){
		        clipboardData.setData('text', url);
		    }else{
		         parent.Dialog.alert('{echo:lp{ah_browser_clipboard};/}');
		    }
		}
}
</script>
{sta:if(basename($_SERVER['SCRIPT_FILENAME'])!='home.php')[exc]}
<div class="head">
    <h1><a href="index.php"><img alt="jooyea" src="skin/default/jooyea/images/snslogo.gif"></a></h1>
    <div class="search">
        <div class="schbox">
           <form class="search_box" action="index.php" target="_blank" onsubmit="clear_def(this,'{echo:lp{ah_enter_name};/}');">
            <input id="searchtop_input" maxlength='20' class="inpt" type="text" name='memName' value="{echo:lp{ah_enter_name};/}" onblur="inputTxt(this,'set');" onfocus="inputTxt(this,'clean');" />
            <input class="btn" type="submit" value="" />
        	<input type='hidden' name='tg' value='search_pals_list' />
        </form>
        </div>
        <a href="javascript:goLogin();">{echo:lp{ah_advanced_search};/}</a>
    </div>
</div>
<div class="clear"></div>
{end:if/}
<div class="top_bg">
	<div class="nav">
	  <span class="left">
	    <a href="index.php">{echo:lp{ah_homepage};/}</a>
	    <a href="index.php?tg=search_pals_list&online=1">{echo:lp{ah_see_who_online};/}</a>
	    <a href="help/help.html">帮助</a>
		</span>
	  <span class="right">
		  <a href="javascript:addBookMark();"><?php echo $pu_langpackage->pu_collection;?></a>
		  <a href="javascript:setMyHomepage('<?php echo get_site_domain();?>');"><?php echo $pu_langpackage->pu_index_set;?></a>
		  <a href="modules.php?app=user_reg"><?php echo $pu_langpackage->pu_register;?></a>
		  <a href="index.php"><?php echo $pu_langpackage->pu_logon;?></a>
	  </span>
	</div>
</div>