<div class="top_bg">
    <div class="nav">
        <div class="left_nav">
            <dl>
                <dt style="width:100px;border:0;"></dt>
                <dt><a href="main.php?app=start">{echo:lp{mn_index};/}</a></dt>
                <dt><a href="home.php?h={echo:get_sess_userid();/}">{echo:lp{mn_home};/}</a></dt>
                <dt onmouseover="apMenuShow(true);" onmouseout="apMenuShow(false);">
                    <a href="main.php?app=mag_app">{echo:lp{mn_app};/}</a>
                    <ul class="ap_menu" id="ap_menu" style="display:none;" onmouseover="apMenuShow(true);" onmouseout="apMenuShow(false);">
                        <li><span class="am_left"><img src="skin/default/jooyea/images/blog.gif" /></span><span class="am_center"><a href="main.php?app=blog_list" hidefocus="true">{echo:lp{mn_blog};/}</a></span><span class="am_right"><a href="modules.php?app=blog_edit" target="frame_content" hidefocus="true">{echo:lp{mn_publish};/}</a></span></li>
                        <li><span class="am_left"><img src="skin/default/jooyea/images/album.gif" /></span><span class="am_center"><a href="main.php?app=album" hidefocus="true">{echo:lp{mn_album};/}</a></span><span class="am_right"><a href="modules.php?app=photo_upload" target="frame_content" hidefocus="true">{echo:lp{mn_upload};/}</a></span></li>
                        <li><span class="am_left"><img src="skin/default/jooyea/images/share.gif" /></span><span class="am_center"><a href="main.php?app=share_list" hidefocus="true">{echo:lp{mn_share};/}</a></span></li>
                        <li><span class="am_left"><img src="skin/default/jooyea/images/group.gif" /></span><span class="am_center"><a href="main.php?app=group" hidefocus="true">{echo:lp{mn_group};/}</a></span><span class="am_right"><a href="modules.php?app=group_creat" hidefocus="true" target="frame_content">{echo:lp{mn_creat};/}</a></span></li>
                        <li><span class="am_left"><img src="skin/default/jooyea/images/poll.gif" /></span><span class="am_center"><a href="main.php?app=poll_mine" hidefocus="true">{echo:lp{mn_poll};/}</a></span><span class="am_right"><a href="modules.php?app=poll_send" hidefocus="true" target="frame_content">{echo:lp{mn_start};/}</a></span></li>
                        <li><span class="am_left"><img src="skin/default/jooyea/images/pals.gif" /></span><span class="am_center"><a href="main.php?app=mypals" hidefocus="true">{echo:lp{mn_pal};/}</a></span></li>
                        <li><span class="am_left"><img src="skin/default/jooyea/images/msg_minbox.gif" /></span><span class="am_center"><a href="main.php?app=msg_minbox" hidefocus="true">{echo:lp{mn_scrip};/}</a></span><span class="am_right"><a href="modules.php?app=msg_creator" target="frame_content" hidefocus="true">{echo:lp{mn_creat};/}</a></span></li>
                        <li><span class="am_left"><img src="skin/default/jooyea/images/msgboard.gif" /></span><span class="am_center"><a href="main.php?app=msgboard_more" hidefocus="true">{echo:lp{mn_msg};/}</a></span></li>
                        <li><span class="am_left"><img src="skin/default/jooyea/images/user_hi.gif" /></span><span class="am_center"><a href="main.php?app=user_hi" hidefocus="true">{echo:lp{mn_hi};/}</a></span></li>
                        <li style="border-bottom:0; padding:4px 0 0 8px;"><span class="am_left"><img style="margin-top:6px;" src="skin/default/jooyea/images/appset.gif" /></span><span class="am_center"><a href="main.php?app=mag_app" hidefocus="true">{echo:lp{ah_set_application};/}</a></span></li>
                    </ul>
                </dt>
                <dt><a href="main.php?app=mypals_search_list&online=1" hidefocus="true">{echo:lp{mn_online};/}</a></dt>
                <dt><a href="main.php?app=msg_minbox" hidefocus="true">{echo:lp{mn_scrip};/}</a></dt>
            </dl>
        </div>
        <div class="right_nav">
            <dl>
                <dt><a href="home.php?h={echo:get_sess_userid();/}" hidefocus="true">{echo:filt_word(get_sess_username());/}</a></dt>
                <dt><a href="modules.php?app=mypals_invite" target="frame_content" hidefocus="true">{echo:lp{mn_user_invite};/}</a></dt>
                <dt><a href="javascript:void(0);" hidefocus="true" onmouseout="setMenuShow(false);" onclick="setMenuShow(true);">{echo:lp{mn_user_set};/}</a>
                    <div id="set_menu_bridge" style="width:58px;height:13px;display:none;" onmouseover="setMenuShow(true);" onmouseout="setMenuShow(false);">
                        <ul id="set_menu" onmouseover="setMenuShow(true);" onmouseout="setMenuShow(false);" class="set_menu" style="display:none;">
                            <li class="user_info"><a href="main.php?app=user_info" target="_top" hidefocus="true">{echo:lp{u_achives};/}</a></li>
                            <li class="user_ico"><a href="main.php?app=user_ico" target="_top" hidefocus="true">{echo:lp{u_icon};/}</a></li>
                            <li class="user_pw_change"><a href="main.php?app=user_pw_change" target="_top" hidefocus="true">{echo:lp{u_pw};/}</a></li>
                            <li class="user_dressup"><a href="main.php?app=user_dressup" target="_top" hidefocus="true">{echo:lp{u_dressup};/}</a></li>
                            <li class="user_affair"><a href="main.php?app=user_affair" target="_top" hidefocus="true">{echo:lp{u_set_affair};/}</a></li>
                            <li class="user_privacy"><a href="main.php?app=privacy" target="_top" hidefocus="true">{echo:lp{mn_user_pri};/}</a></li>
                        </ul>
                    </div>
                </dt>
                <dt style="background:none"><a href="do.php?act=logout" hidefocus="true">{echo:lp{mn_out};/}</a></dt>
            </dl>
        </div>
    </div>
</div>