<div class="appbar">
    <ul>
        <li class="app_blog"><a href="javascript:void(0);" onclick="frame_content.location.href='{echo:$siteDomain;/}modules.php?app=blog_list';return false;"  hidefocus="true"><span>{echo:lp{mn_blog};/}</span></a></li>
        <li class="app_album"><a href="javascript:void(0);" onclick="frame_content.location.href='{echo:$siteDomain;/}modules.php?app=album';return false;" hidefocus="true"><span>{echo:lp{mn_album};/}</span></a></li>
        <li class="app_share"><a href="javascript:void(0);" onclick="frame_content.location.href='{echo:$siteDomain;/}modules.php?app=share_list&m=mine';return false;" hidefocus="true"><span>{echo:lp{mn_share};/}</span></a></li>
        <li class="app_group"><a href="javascript:void(0);" onclick="frame_content.location.href='{echo:$siteDomain;/}modules.php?app=group';return false;" hidefocus="true"><span>{echo:lp{mn_group};/}</span></a></li>
        <li class="app_vote"><a href="javascript:void(0);" onclick="frame_content.location.href='{echo:$siteDomain;/}modules.php?app=poll_mine';return false;" hidefocus="true"><span>{echo:lp{mn_poll};/}</span></a></li>
        <li class="app_friend"><a href="javascript:void(0);" onclick="frame_content.location.href='{echo:$siteDomain;/}modules.php?app=mypals';return false;" hidefocus="true"><span>{echo:lp{mn_pal};/}</span></a></li>
        <li class="app_message"><a href="javascript:void(0);" onclick="frame_content.location.href='{echo:$siteDomain;/}modules.php?app=msgboard_more';return false;" hidefocus="true"><span>{echo:lp{mn_msg};/}</span></a></li>
        <li class="app_set"><a href="javascript:void(0);" onclick="frame_content.location.href='{echo:$siteDomain;/}modules.php?app=mag_app';return false;" hidefocus="true">{echo:lp{mn_set_app};/}</a></li>
        <!-- plugins !-->
        <div class='main_left_menu'>
        {echo:isset($plugins['main_left_menu'])?show_plugins($plugins['main_left_menu']):'';/}
        </div>
        <!-- plugins !-->  
    </ul>
</div>
